<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Users | Demo</title>
</head>
<body>
	<h1>Users page</h1>
	<%= user.to_hash %><br /><br />
	
	<form action="/users/#{user.id}" method="delete">
		<input type="submit" value="Delete">
	</form>
</body>
</html>